body {
  font-family: 'lucida grande',verdana,helvetica,arial,sans-serif;
  font-size: 0.75em;
  line-height: 1.5em;
}
a {
  border-bottom: 1px solid #4d4d4d;
  color: #4d4d4d;
  text-decoration: none;
}
a:hover {
  border-bottom: 1px solid #ee3322;
  color: #ee3322;
}
h1 {
  color: #4d4d4d;
  font-size: 2.5em;
  line-height: 1.5em;
}
h2 {
  color: #ee3322;
  font-family: 'Gill Sans','lucida grande',helvetica, arial, sans-serif;
  font-size: 2em;
  line-height: 1.5em;
  margin-top: 0.5em;
}
h3 {
  color: #999933;
  font-family: 'Gill Sans','lucida grande',helvetica, arial, sans-serif;
  font-size: 1.5em;
  line-height: 1.5em;
  margin-top: 0.75em;
}
h4 {
  color: #999933;
  margin-top: 1em;
}
ul, li {
  margin: 0 1em;
}
p {
  margin: 0 0 1em 0;
}

/* Layout */
#container {
}
#header{
  background: #4d4d4d;
  overflow: hidden;
  padding: 1em 2em 0 2em;
}
#header h1 {
  float: left;
  line-height: 1em;
  margin-top: 0.4em; /* 0.4 x 2.5 = 1 */
}
#header h1 a {
  color: #fff;
  border-bottom: none;
}
#header h1 a:hover {
  border-bottom: none;
}
#navigation {
  float: left;
  margin-top: 2em;
}
#navigation li {
  float: left;
}
#navigation a {
  color: #fff;
}
#navigation a:hover {
  border-bottom: 1px solid #fff;
}
#account {
  float: right;
  margin-top: 2em;
}
#account li {
  float: left;
}
#account a {
  color: #fff;
}
#account a:hover {
  border-bottom: 1px solid #fff;
}
#header #admin {
  background-color: #C32;
  clear: both;
  padding: 0.5em 2em;
  margin: 4em -2em 0;
  overflow: hidden;
}
#header #admin li {
  float: left;
}
#header #admin a {
  border-bottom: 1px solid #C32;
  color: #fff;
}
#header #admin a:hover {
  border-bottom: 1px solid #fff;
}
#content {
  color: #333;
  overflow: hidden;
  padding: 1em 2em 3em 2em;
  width: 75em;
}
#footer {
  background: #4d4d4d;
  padding: 1em;
}

/* Tables */
table {
  border: 1px solid #ccc;
  color: #333;
  margin-bottom: 1em;
  width: 100%;
}
th {
  background: #f2f2f2;
  border: 1px solid #bbb;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  text-align: center;
}
th a {
  border-bottom: none;
  display: block;
  line-height: 1.5em
}
th a:hover {
  background: #ccc;
  border-bottom: none;
  color: #333;
}
table tr td {
  background: #fff;
  border-right: 1px solid #ccc;
  line-height: 1.5em;
  padding: 0.25em 0.5em;
  vertical-align: top;
}
table tr.altrow td {
  background: #f4f4f4;
}

/* Paging */
div.paging {
  background: #fff;
  color: #ccc;
  margin-bottom: 1em;
}
div.paging div.disabled {
  color: #ddd;
  display: inline;
}
div.paging span.current {
  color: #000;
}

/* Scaffold View */
dl {
  line-height: 2.5em;
}
dl .altrow {
  background: #f4f4f4;
}
dt {
  color: #B6A792;
  padding-left: 1em;
}
dd {
  margin-left: 10em;
  margin-top: -2.5em;
}

/* Forms */
form {
}
fieldset {
  border: 1px solid #ccc;
  margin-top: 1em;
  padding: 0 2em 1em 2em;
}
fieldset legend {
  color: #ee3322;
  font-size: 2em;
  line-height: 1.5em;
}
fieldset fieldset {
  padding: 1em;
}
fieldset fieldset legend {
  font-size: 1em;
}
form div {
  margin: 1em 0;
}
form div.input {
  color: #444;
}
form div.required label {
  font-weight: bold;
}
label {
  display: block;
}
input, textarea, select {
  border: 1px solid #B6A792;
  font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
  padding: 0.25em 0.25em;

  border-radius: 0.25em;
  -moz-border-radius: 0.25em;
}
div.checkbox input, div.radio input {
  vertical-align: text-bottom;
}
div.checkbox label, div.radio label {
  display: inline;
  padding-left: 1em;
}
input[type=submit] {
  padding: 0.25em 0.5em;
}

/* Notices and Errors */
div.message,
div.error-message {
  clear: both;
  color: #900;
  font-size: 1.5em;
  margin: 0.75em 0;
}
p.error {
  background-color: #ee3322;
  font-family: Courier, monospace;
  padding: 1em;
}
p.error em {
  color: #000;
}
.notice {
  background: #ffcc00;
  color: #000;
  display: block;
  font-family: Courier, monospace;
  padding: 1em;
  margin: 1em 0;
}
.success {
  background: green;
  color: #fff;
}

/*  Actions  */
div.actions li {
  display: inline;
  line-height: 2em;
}

/* Related section on view pages */
div.related { clear: both; }

/* Riiga Specific */
td.avatar {
  width: 0px; /* shrink to image size, might not be cross browser */
}

/* Rank stars */
.star { overflow: hidden; }
.star span {
  background: transparent url('../img/stars.png');
  border: 0;
  display: block;
  height: 16px;
  float: left;
  font-size: 0;
  width: 16px;
}

/******************************************************************************/
/* jQuery UI ******************************************************************/
/******************************************************************************/
/**
 * This section is only for overloading functionality that always should
 * overload theme roller templates. Truly cosmetic changes should be in the
 * jquery-ui.css.
 */
input.ui-button { padding: 0.25em 0.5em; }

/* By default UI doesn't include a shadow class without adding a sub-element */
.ui-shadow {
  -webkit-box-shadow: 0 0.5em 1em #999;
  -moz-box-shadow: 0 0.5em 1em #999;
  box-shadow: 0 0.5em 1em #999;
}

/******************************************************************************/
/* Page Specific **************************************************************/
/******************************************************************************/
.users.login div.input input {
  display: block;
  margin: -1.5em 0 0 10em;
  width: auto;
}
.users.view h2 {
  float: left;
}
.users.view div.avatar {
  float: right;
}
.users.view ul {
  clear: left;
}

.locations.index .tree span { float: right; padding-right: 0.25em; }
.locations.index .tree ul { margin-right: 0; padding-bottom: 1.5em; }
.locations.index .tree li {
  border-left: 1px solid #CCC;
  border-top: 1px solid #CCC;
  line-height: 2em;
  margin-right: 0;
  padding-left: 0.5em;
}
.locations.index .tree>ul { border-right: 1px solid #CCC; }
.locations.index .tree li:last-child { border-bottom: 1px solid #CCC; }
.locations.index .tree li        { background: #fff; }
.locations.index .tree li.altrow { background: #f4f4f4; }

.characters.view .map {
  border: 1px solid #CCC;
  float: right;
  margin: 0.5em;
  margin-right: 0;
}

/******************************************************************************/
/* Character wizard ***********************************************************/
/******************************************************************************/

.characters .error-message { font-size: 1em; margin: 0.5em 0 0 0; }

/* Characters input container default to two column */
.characters .text,
.characters .textarea,
.characters .select {
  margin: 0;
  padding: 1.5em 0 0 0;
  width: 50%; /* 50 makes math easier */
  overflow: hidden;
  position: relative; /* For absolute labels with widths set as % */
}

.characters input,
.characters select,
.characters textarea,
.characters .ui-star {
  line-height: 1.5em;
  padding: 0.25em 8px/*1%*/ 0.25em 106px/*25%*/; /* Firefox bug - Translating % to px - 26% */
  margin: 0;
  width: 72%; /* 72 + 26 = 98 -> Margin of 1% set based on float direction */
}
/* Firefox inputs don't respect line height */
.characters fieldset input { height: 1.5em; }

/* Recalc for 100% width elements */
.characters #age input,
.characters #description textarea,
.characters #history textarea,
.characters #avatar input {
  padding: 0.25em 8px/*0.5%*/ 0.25em 106px/*12.5%*/; /* 13 = 26 / 2 -> Half percent for double size */
  width: 86%; /* 87 + 13 = 100 -> Inner margins not needed for 100% wide */
}

/* For some reason select boxs dont follow the width + padding + margin rule */
.characters select { width: 98%; }

/* Position labels on inputs */
.characters .text label,
.characters .textarea label,
.characters .select label {
  background: transparent url(../img/jquery-ui/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
  border: 1px solid #ccc;
  color: #444;
  line-height: 1.5em;
  padding: 0.25em 2% 0.25em 0; /* 1 */
  margin-right: 2%; /* 1 */
  position: absolute;
  text-align: right;
  width: 21%; /* 2 + 2 + 21 = 25 -> Matches against left padding 25% above */
  z-index: 1; /* Put label above input */

  border-bottom-left-radius: 0.25em;
  border-top-left-radius: 0.25em;
  -moz-border-radius-bottomleft: 0.25em;
  -moz-border-radius-topleft: 0.25em;
}
.characters .required label { font-weight: normal; }

/* Recalc for 100% width elements */
.characters #age label,
.characters #description label,
.characters #history label,
.characters #avatar label {
  padding-right: 1%;
  margin-right: 1%;
  width: 10.5%; /* 1 + 1 + 10.5 = 12.5 -> 12.5 * 2 = 25% */
}

/* General character page two column layout */
.characters #name,
.characters #race,
.characters #faction { float: left; }
.characters #rank,
.characters #location,
.characters #profession { float: right; }
.characters #race,
.characters #age,
.characters #faction,
.characters #description { clear: both; }
/* Margin inward in correct direction */
.characters #name input,
.characters #race select,
.characters #race .ui-select,
.characters #faction select
.characters #faction .ui-select { margin-right: 1%; }
.characters #rank select,
.characters #rank .ui-star,
.characters #location select,
.characters #location .ui-select,
.characters #profession input { margin-left: 0%; }
/* Reset for one column layouts */
.characters #age,
.characters #description,
.characters #history,
.characters #avatar { width: auto; }

.characters .submit input { padding: 0.25em 0.5em; width: auto; }

/* Conjoin the age and age information table */
.characters #age { margin-bottom: 0; }
.characters #age input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
}
.characters #AgeInformation { margin: 0; }
.characters #AgeInformation th { border-top: 0; }
.characters #AgeInformation table {
  border-top: 0;
  margin: 0;
  width: 99.7%;
  -webkit-box-shadow: 0 0 1em #999;
  -moz-box-shadow: 0 0 1em #999;
  box-shadow: 0 0 1em #999;
}

/* Select menu restyling - override style to match other inputs sizing */
.characters .ui-select {
  height: 2em; /* 26 = 18 line-height + 4 padding top + 4 bottom */
  padding-left: 25%;
  padding-right: 3%;
}
.characters .ui-select .ui-select-status { padding: 4px 0; }
.characters .ui-select:hover { border-bottom: inherit; color: inherit; }

/* Labels are set to z-index: 1. Ensure open menu is displayed over them. */
.ui-select-menu { z-index: 1; }
.ui-select-menu li a       { border-bottom: 0; }
.ui-select-menu li a:hover { border-bottom: 0; }

/* Flyout menu that associates dropdown menus */
.ui-select-submenu {
  background: #fff;
  border: 1px solid #B6A792;
  position: absolute;
  z-index: 1;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
}
.ui-select-submenu div {
  padding: 0.5em 1em;
}
.ui-select-submenu h3 {
  line-height: 2em;
  margin: 0;
  text-align: center;
}

.ui-select-menu, .ui-select-submenu {
  -webkit-box-shadow: 0 0.5em 1em #999;
  -moz-box-shadow: 0 0.5em 1em #999;
  box-shadow: 0 0.5em 1em #999;
}
/**
 * For select menus limited by rank, star images are displayed inline to the
 * select option. Formatting these involves overriding default selectmenu
 * styling.
 */
.ui-select-menu span.stars {
  float: right;
  width: 112px; /* 112 = 16px x 7 stars */
  overflow: hidden;
}
.ui-select-menu span.star {
  background: transparent url('../img/stars.png') -16px 0;
  display: block;
  float: left;
  height: 16px;
  width: 16px;
}
/* Rank stars shouldn't be displayed in the closed select menu */
.ui-select span.stars { display: none; }

/* JS star ranking */
.characters .ui-star .ui-state-default   { background-position: -32px 0; }
.characters .ui-star .ui-state-highlight { background-position:   0px 0; }
.characters .ui-star .ui-state-hover     { background-position: -16px 0; }
.characters .ui-star .ui-state-disabled  { background-position: -48px 0; }
.characters .ui-star { overflow: hidden; }
.characters .ui-star a:focus { outline: none; }
.characters .ui-star a {
  background: transparent url('../img/stars.png');
  border: 0;
  display: block;
  height: 16px;
  float: left;
  font-size: 0;
  text-decoration: none;
  width: 16px;
}
/* Format star container to better mimic other form elements */
.characters .ui-star {
  border: 1px solid #B6A792;
  height: 1.5em;

  border-radius: 0.25em;
  -moz-border-radius: 0.25em;
}

/******************************************************************************/
/* Profession Widget **********************************************************/
/******************************************************************************/

.ui-profession {
  margin-top: 0;
  overflow: hidden;
  position: absolute;
  z-index: 1;
}
.ui-profession h5 {
  background: url("../img/jquery-ui/ui-bg_glass_75_e6e6e6_1x400.png")
    repeat-x scroll 50% 50% #E6E6E6;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  color: #555555;
  font-weight: normal;
  padding: 0.3em 1em;
  text-align: center;
}

.ui-profession ul.ui-profession-categories {
  float: left;
  margin: 0;
  width: 25%;
}
.ui-profession ul.ui-profession-categories li {
  border-top: 0;
  border-left: 0;
  cursor: pointer;
  padding: 0.3em 1em;
  margin: 0;
}

.ui-profession ul.ui-profession-professions {
  float: right;
  margin: 0;
  width: 75%;

  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
}

.ui-profession ul.ui-profession-professions li {
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 0.3em 1em;
  border-left: 0;
  border-right: 0;
}

.ui-profession .ui-limited-by-age { color: #BBB; }
.ui-profession .ui-limited-by-race { color: #E0E0E0; }

.ui-profession p {
  clear: both;
  color: #AAA;
  margin: 0;
  padding: 0.3em 1em;
  text-align: center;
}

/******************************************************************************/
/* End Character Wizard *******************************************************/
/******************************************************************************/

/******************************************************************************/
/* Location Widget ************************************************************/
/******************************************************************************/
.ui-location {
  border-bottom: 1px solid #d3d3d3;
  overflow: hidden;
  position: relative;
}
.ui-location img {
  position: relative;
}
.ui-location-selector {
  position: absolute;
  border: 1px dotted grey;
}

/******************************************************************************/

/* Debugging */
pre {
  color: #000;
  background: #f0f0f0;
  padding: 1em;
}
pre.cake-debug {
  background: #ffcc00;
  font-size: 120%;
  line-height: 140%;
  margin-top: 1em;
  overflow: auto;
  position: relative;
}
div.cake-stack-trace {
  background: #fff;
  border: 4px dotted #ffcc00;
  color: #333;
  margin: 0px;
  padding: 6px;
  font-size: 120%;
  line-height: 140%;
  overflow: auto;
  position: relative;
}
div.cake-code-dump pre {
  position: relative;
  overflow: auto;
}
div.cake-stack-trace pre, div.cake-code-dump pre {
  color: #000;
  background-color: #F0F0F0;
  margin: 0px;
  padding: 1em;
  overflow: auto;
}
div.cake-code-dump pre, div.cake-code-dump pre code {
  clear: both;
  font-size: 12px;
  line-height: 15px;
  margin: 4px 2px;
  padding: 4px;
  overflow: auto;
}
div.cake-code-dump span.code-highlight {
  background-color: #ff0;
  padding: 4px;
}
div.code-coverage-results div.code-line {
  padding-left: 5px;
  display: block;
  margin-left: 10px;
}
div.code-coverage-results div.uncovered span.content {
  background: #ecc;
}
div.code-coverage-results div.covered span.content {
  background: #cec;
}
div.code-coverage-results div.ignored span.content {
  color: #aaa;
}
div.code-coverage-results span.line-num {
  color: #666;
  display: block;
  float: left;
  width: 20px;
  text-align: right;
  margin-right: 5px;
}
div.code-coverage-results span.line-num strong {
  color: #666;
}
div.code-coverage-results div.start {
  border: 1px solid #aaa;
  border-width: 1px 1px 0px 1px;
  margin-top: 30px;
  padding-top: 5px;
}
div.code-coverage-results div.end {
  border: 1px solid #aaa;
  border-width: 0px 1px 1px 1px;
  margin-bottom: 30px;
  padding-bottom: 5px;
}
div.code-coverage-results div.realstart {
  margin-top: 0px;
}
div.code-coverage-results p.note {
  color: #bbb;
  padding: 5px;
  margin: 5px 0 10px;
  font-size: 10px;
}
div.code-coverage-results span.result-bad {
  color: #a00;
}
div.code-coverage-results span.result-ok {
  color: #fa0;
}
div.code-coverage-results span.result-good {
  color: #0a0;
}
.cake-sql-log table {
  background: #f4f4f4;
}
.cake-sql-log td {
  padding: 4px 8px;
  text-align: left;
}
