body {
  font-family: 'lucida grande',verdana,helvetica,arial,sans-serif;
  font-size: 0.75em;
  line-height: 1.5em;
}
a {
  border-bottom: 1px solid #4d4d4d;
  color: #4d4d4d;
  text-decoration: none;
}
a:hover {
  border-bottom: 1px solid #ee3322;
  color: #ee3322;
}
h1 {
  color: #4d4d4d;
  font-size: 2.5em;
  line-height: 1.5em;
}
h2 {
  color: #ee3322;
  font-family: 'Gill Sans','lucida grande',helvetica, arial, sans-serif;
  font-size: 2em;
  line-height: 1.5em;
  margin-top: 0.5em;
}
h3 {
  color: #999933;
  font-family: 'Gill Sans','lucida grande',helvetica, arial, sans-serif;
  font-size: 1.5em;
  line-height: 1.5em;
  margin-top: 0.75em;
}
h4 {
  color: #999933;
  margin-top: 1em;
}
ul, li {
  margin: 0 1em;
}
p {
  margin: 0 0 1em 0;
}
table {
  border: 1px solid #ccc;
  color: #333;
  margin-bottom: 1em;
  width: 100%;
}
th {
  background: #f2f2f2;
  border: 1px solid #bbb;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  text-align: center;
}
th a {
  border-bottom: none;
  display: block;
  line-height: 1.5em
}
th a:hover {
  background: #ccc;
  border-bottom: none;
  color: #333;
}
table tr td {
  background: #fff;
  border-right: 1px solid #ccc;
  line-height: 1.5em;
  padding: 0.25em 0.5em;
  vertical-align: top;
}
table tr.altrow td {
  background: #f4f4f4;
}
dl {
  line-height: 2.5em;
}
dl .altrow {
  background: #f4f4f4;
}
dt {
  color: #B6A792;
  padding-left: 1em;
}
dd {
  margin-left: 10em;
  margin-top: -2.5em;
}
pre {
  font-family: inherit;
  margin: 0 0 1em 0;
  white-space: pre-wrap;
  word-wrap: break-word;
}
strong {
  font-weight: bold;
}
em {
  font-style: oblique;
}
abbr {
  border-bottom: 1px solid #323232;
  padding-bottom: 1px;
}
