.characters.form #AgeInformation { margin: 0; }
.characters.form #AgeInformation th { border-top: 0; }
.characters.form #AgeInformation table {
  border-top: 0;
  margin: 0;
  -webkit-box-shadow: 0 0 1em #999;
  -moz-box-shadow: 0 0 1em #999;
  box-shadow: 0 0 1em #999;
}

/* Select menu restyling - override style to match other inputs sizing */
.characters.form .ui-select {
  height: 2em; /* 26 = 18 line-height + 4 padding top + 4 bottom */
  padding-left: 109px;
  padding-right: 7px;
}
.characters.form .ui-select .ui-select-status {
  padding: 4px 0;
}
.characters.form .ui-select:hover {
  border-bottom: 1px solid #D3D3D3;
  color: inherit;
}
