/* Chat box */
#footer .chat_box {
  color: white;
  height: 35em;
  overflow: auto;
  width: 75em;
}
#footer .chat_box div {
  padding: 0;
}
#footer .chat_box a {
  border-color: white;
  color: white;
}
#footer .chat_box table, #footer .chat_box td {
  border: none;
}
#footer .chat_box table td {
  background-color: #675b4f;
  color: white;
}
#footer .chat_box table tr.altrow td {
  background: #494037;
}
#footer .chat_box table td:first-child {
  width: 10em;
}
#footer .chat_box table td:last-child {
  width: 7em;
}
#footer .chat_box .text {
  background: #494037;
}
#footer .chat_box .text label,
#footer .chat_box input {
  background: #494037;
  border-color: #675b4f;
  color: white;
  line-height: 16px; /* make firefox happy */
}
#footer .chat_box input:focus {
  background: #675b4f;
  border-color: #928170;
}
#footer .chat_box .submit {
  float: right;
}
